@use 'sass:color';
@use '../../App.scss' as *;

.custom-modal-order {
    .modal-dialog {
        max-width: 800px; /* Định kích thước modal */
        margin: auto;
        // height: 750px;
        .modal-content {
            height: 80%;
            margin-top: 50px;

            @media screen and (max-width: 992px) {
                height: 55%;
            }

            @media screen and (max-width: 576px) {
                height: 80%;
            }
            .custom-modal-order-header {
                .modal-title {
                    font-size: 25px;
                }
            }
            .custom-modal-order-body {
                .location {
                    font-size: 20px;
                    .location-title {
                        display: flex;
                        align-items: center;
                        gap: 6px;
                        color: $clr-orange;
                    }

                    .location-info {
                        font-weight: 600;
                        display: flex;
                        align-items: center;

                        .btn-edit-address {
                            margin-left: 20px;
                            padding: 0 5px;

                            &:hover {
                                transform: scale(1.05);
                                transition: 0.3s all;
                                background-color: $clr-orange;
                                border-radius: 100%;
                                color: white;
                            }
                        }
                    }

                    .input-change-address {
                        margin-top: 10px;
                        border: 1px solid gray;
                        border-radius: 10px;
                        padding: 5px 10px;
                        width: 50%;
                    }
                }

                .product-order {
                    margin-top: 20px;

                    .order-item {
                        grid-template-columns: 5fr 2fr 1fr 2fr;
                        min-height: 40px;
                        border-bottom: 1px solid $clr-whitesmoke;
                        display: grid;
                        align-items: center !important;
                        font-size: 16px;
                        margin-bottom: 10px;
                        min-width: 600px;
                        overflow-y: scroll;

                        .order-cth,
                        .order-ctd {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &:first-child {
                                justify-content: flex-start;
                            }
                        }

                        .order-product-img {
                            width: 60px;
                            height: 60px;
                        }
                        .product-info {
                            display: flex;
                            flex-direction: column;
                            gap: 3px;

                            .color {
                                font-size: 12px;
                                color: #0000008a;
                            }
                        }
                    }
                }

                .payment {
                    margin-top: 30px;
                    padding: 0 20px;

                    select {
                        margin-left: 50px;
                        border: 1px solid #0000008a;
                        font-size: 16px;
                        padding: 5px 5px;

                        @media screen and (max-width: 576px) {
                            margin: 5px 0 5px 0 !important;
                        }
                    }
                }

                .payment-success {
                    margin-top: 50px;
                    text-align: center;

                    span {
                        font-size: 20px;
                        color: $clr-orange;
                        font-weight: 600;
                    }
                }

                .paymeny-logo {
                    display: flex;
                    flex-direction: column;
                    padding: 0 150px;
                    margin-top: 20px;

                    @media screen and (max-width: 576px) {
                        padding: 0 40px;
                        margin-top: 25px;
                    }

                    .box-img {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        @media screen and (max-width: 576px) {
                            gap: 15px;
                        }
                        .box-img-payment {
                            width: 100px;
                            height: 100px;
                            min-width: 40px;
                            min-height: 40px;
                            &.active {
                                border: 1px solid $clr-orange;
                            }

                            &:hover {
                                border: 1px solid $clr-orange;
                                transition: $transition-ease;
                                cursor: pointer;
                            }
                        }
                    }

                    .update-box {
                        display: flex;
                        justify-content: flex-end;
                        .update-btn {
                            font-size: 14px;
                            padding: 3px 14px;
                            border-radius: 10px;
                            border: 1px solid #adadad;
                            margin-top: 15px;
                            width: 100px;

                            &:hover {
                                background-color: $clr-orange;
                                color: white;
                                border: 1px solid $clr-orange;
                                transition: $transition-ease;
                            }
                        }
                    }
                }
            }
            .custom-modal-order-footer {
                button {
                    font-size: 20px;
                }
            }
        }
    }
}
