.custom-modal {
    .modal-dialog {
        max-width: 900px;
        height: 100%;
        .modal-content {
            height: 95%;
            .custom-modal-header {
                .modal-title {
                    font-size: 25px;
                }
            }
            .custom-modal-body {
                font-size: 20px;
                .content-body {
                    .red {
                        color: red;
                    }
                    .form-group {
                        input,
                        select,
                        textarea {
                            font-size: 18px;
                        }
                    }
                    .label-Img {
                        background: rgb(227, 227, 227);
                        font-weight: 500;
                        border-radius: 5px;
                    }

                    .preview-image {
                        margin: auto;
                        width: 270px;
                        height: 270px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
            .custom-modal-footer {
                button {
                    font-size: 20px;
                    margin-right: 15px;
                    width: 120px;
                    padding: 5px 0;
                }
            }
        }
    }
}
