@use 'sass:color';
@use '../../App.scss' as *;

// từ 993 -> ...
.product-single {
    .product-single-content {
        row-gap: 2rem;
        padding: 12px;

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 4rem;
        }

        .product-single-l {
            .product-img {
                &-zoom {
                    height: 380px;
                    overflow: hidden;
                }
                .product-img-thumbs {
                    overflow-x: scroll;

                    &::-webkit-scrollbar {
                        height: 5px;
                    }
                    &::-webkit-scrollbar-track {
                        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                        border-radius: 10px;
                    }
                    &::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        background-color: color.adjust($clr-light-orange, $lightness: 5%);
                        outline: 1px solid $clr-light-orange;
                    }

                    .thumb-item {
                        margin: 0 5px;
                        height: 120px;
                        border: 2px solid $clr-white;
                        transition: $transition-ease;
                        img {
                            transition: $transition-ease;
                        }

                        &:first-child {
                            margin-left: 0;
                        }

                        &:last-child {
                            margin-right: 0;
                        }

                        &:hover {
                            border-color: $clr-orange;
                            img {
                                transform: scale(0.9);
                            }
                        }
                    }
                }
            }
        }

        .product-single-r {
            margin-top: 2rem;
            .product-details {
                .title {
                    font-size: 30px;
                    font-weight: 700;
                    padding-bottom: 0.6rem;
                    border-bottom: 1px solid $clr-light-gray;
                }

                .para {
                    margin: 1rem 0;
                    opacity: 0.9;
                }

                .info {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 1.6rem;

                    .rating {
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .box-rating {
                            display: flex;
                        }
                    }
                    .vert-line {
                        height: 35px;
                        background-color: $clr-red-light !important;
                    }

                    .brand {
                        display: flex;
                        flex-direction: column;
                        width: 30%;
                        align-items: center;
                    }
                }

                .price {
                    background-color: rgba(0, 0, 0, 0.02);
                    padding: 2rem;
                    .old-price {
                        text-decoration: line-through;
                    }

                    .box-new-price {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        .box-price {
                            display: flex;
                            align-items: center;
                            .discount {
                                height: 28px;
                                padding: 4px 8px;
                                border-radius: 3px;
                                margin-left: 8px;
                                margin-top: 2px;
                            }
                        }
                        .box-stock {
                            font-size: 18px;
                            span {
                                font-weight: 700;
                            }
                        }
                    }
                }

                .box-version {
                    .list-version {
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;

                        .item-version {
                            align-items: center;
                            background: #fff;
                            border: 1px solid #d1d5db;
                            border-radius: 8px;
                            color: #444;
                            cursor: pointer;
                            display: flex;
                            flex-direction: column;
                            font-size: 16px;
                            gap: 3px;
                            justify-content: center;
                            margin: 0 0 10px;
                            overflow: hidden;
                            padding: 5px 4px;
                            position: relative;
                            -webkit-text-decoration: none;
                            text-decoration: none;
                            width: calc(33.33333% - 6.66667px);

                            strong {
                                font-weight: 800;
                            }

                            &:not(:nth-child(3n)) {
                                margin-right: 10px;
                            }

                            &.active {
                                border: 1px solid #d70018;

                                &::after {
                                    background-color: #d70018;
                                    border-radius: 0 0 0 10px;
                                    color: #fff;
                                    content: '✓';
                                    font-size: 10px;
                                    height: 13px;
                                    padding-bottom: 15px;
                                    padding-left: 4px;
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                    width: 18px;
                                }
                            }
                        }
                    }
                }

                .box-product-color {
                    margin-top: 10px;
                    .title {
                        font-size: 20px;
                    }
                    .box-content {
                        margin-top: 12px;
                        .list-color {
                            display: flex;
                            flex-wrap: wrap;
                            width: 100%;

                            .item-color {
                                align-items: center;
                                background: #fff;
                                border: 1px solid #d1d5db;
                                border-radius: 8px;
                                color: #444;
                                cursor: pointer;
                                display: flex;
                                flex-direction: column;
                                font-size: 16px;
                                gap: 10px;
                                justify-content: center;
                                margin: 0 0 10px;
                                overflow: hidden;
                                position: relative;
                                -webkit-text-decoration: none;
                                text-decoration: none;
                                width: calc(33.33333% - 6.66667px);

                                &:not(:nth-child(3n)) {
                                    margin-right: 10px;
                                }

                                &.active {
                                    border: 1px solid #d70018;

                                    &::after {
                                        background-color: #d70018;
                                        border-radius: 0 0 0 10px;
                                        color: #fff;
                                        content: '✓';
                                        font-size: 10px;
                                        height: 13px;
                                        padding-bottom: 15px;
                                        padding-left: 4px;
                                        position: absolute;
                                        right: 0;
                                        top: 0;
                                        width: 18px;
                                    }
                                }

                                .box {
                                    display: flex;
                                    align-items: center;
                                    gap: 15px;
                                    justify-content: flex-start;
                                    padding: 5px;
                                    width: 100%;

                                    img {
                                        height: 50px;
                                        position: relative;
                                        width: 50px;
                                    }
                                }
                            }
                        }
                    }
                }

                .qty {
                    font-size: 22px;
                    margin: 10px 0;
                    .qty-change {
                        .qty-decrease,
                        .qty-increase {
                            width: 48px;
                            height: 48px;
                            border: 1px solid rgba(0, 0, 0, 0.1);
                            font-size: 18px;
                        }
                        .qty-value {
                            width: 65px;
                            height: 48px;
                            border-top: 1px solid rgba(0, 0, 0, 0.1);
                            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        }
                    }
                    .qty-error {
                        padding: 2px 6px;
                        border-radius: 3px;
                    }
                }

                .btns {
                    margin: 40px 0;
                    display: flex;

                    .btn {
                        display: flex;
                        align-items: center;
                        height: 50px;
                        font-size: 20px;
                        border: 1px solid $clr-orange;
                        padding: 0 1.8rem;
                        transition: $transition-ease;

                        &-text {
                            text-transform: capitalize;
                        }
                        &:first-child {
                            background-color: #ffeee8;
                            color: $clr-orange;
                            margin-right: 20px;
                        }
                        &:last-child {
                            background-color: $clr-orange;
                            color: white;
                        }
                        &:hover {
                            transform: scale(1.05);
                            transition: 0.2s all ease-in-out;
                            opacity: 0.9;
                        }
                    }
                }
            }
        }
    }

    .title-md {
        margin: 40px 0 20px 0;
    }
}

@media screen and (max-width: 992px) {
    // từ 769 -> 992
    .product-single {
        .product-single-content {
            .product-single-l {
                .product-img {
                    &-zoom {
                        height: 380px;
                        overflow: hidden;
                        border: 1px solid #c2c2c2;
                    }
                }
            }
            .product-single-r {
                margin-top: 2rem;
                .product-details {
                    .title {
                        border-bottom: 1px solid $clr-gray;
                    }

                    .info {
                        margin: 16px 0;
                    }

                    .price {
                        background-color: rgba(0, 0, 0, 0.02);
                        padding: 0;
                        .old-price {
                            text-decoration: line-through;
                        }

                        .box-new-price {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: flex-start;
                            .box-price {
                                display: flex;
                                align-items: center;
                                margin-right: auto;
                                .discount {
                                    height: 28px;
                                    padding: 4px 8px;
                                    border-radius: 3px;
                                    margin-left: 8px;
                                    margin-top: 2px;
                                }
                            }
                        }
                    }

                    .box-more-info {
                        margin-top: 10px;
                        display: flex;
                        justify-content: space-between;
                        font-size: 20px;
                        .box-stock {
                            font-size: 18px;
                            padding-left: 4px;
                            margin-right: auto;
                            span {
                                font-weight: 700;
                            }
                        }
                        .warranty {
                        }
                    }

                    .box-version {
                        .list-version {
                            display: flex;
                            flex-wrap: wrap;
                            width: 100%;
                            justify-content: space-around;

                            .item-version {
                                align-items: center;
                                background: #fff;
                                border: 1px solid #d1d5db;
                                border-radius: 8px;
                                color: #444;
                                cursor: pointer;
                                display: flex;
                                flex-direction: column;
                                font-size: 16px;
                                gap: 3px;
                                justify-content: center;
                                margin: 10px 0 !important;
                                overflow: hidden;
                                padding: 5px 4px;
                                position: relative;
                                -webkit-text-decoration: none;
                                text-decoration: none;
                                width: calc(33.33333% - 6.66667px);
                                min-width: 140px;
                            }
                        }
                    }

                    .box-product-color {
                        margin-top: 5px;
                        .title {
                            font-size: 18px;
                        }
                        .box-content {
                            margin-top: 12px;
                            .list-color {
                                display: flex;
                                flex-wrap: wrap;
                                width: 100%;
                                padding: 0;
                                justify-content: space-around;

                                .item-color {
                                    align-items: center;
                                    background: #fff;
                                    border: 1px solid #d1d5db;
                                    border-radius: 8px;
                                    color: #444;
                                    cursor: pointer;
                                    display: flex;
                                    flex-direction: column;
                                    font-size: 16px;
                                    gap: 10px;
                                    justify-content: center;
                                    margin: 10px 0 !important;
                                    overflow: hidden;
                                    position: relative;
                                    -webkit-text-decoration: none;
                                    text-decoration: none;
                                    width: calc(33.33333% - 6.66667px);
                                    min-width: 140px;
                                }
                            }
                        }
                    }

                    .qty {
                        font-size: 20px;
                        margin: 5px 0;
                    }

                    .btns {
                        margin: 30px 0;
                        display: flex;
                        justify-content: space-around;

                        .btn {
                            display: flex;
                            align-items: center;
                            height: 55px;
                            font-size: 16px;
                            border: 1px solid $clr-orange;
                            padding: 0 10px;
                            transition: $transition-ease;
                            max-width: 170px;
                            width: 155px;
                            justify-content: center;

                            .icon {
                                font-size: 20px;
                                margin: 0;
                            }

                            &:first-child {
                                background-color: #ffeee8;
                                color: $clr-orange;
                                margin-right: 20px;
                            }
                            &:last-child {
                                background-color: $clr-orange;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    // từ 577 -> 768
    .product-single {
        .product-single-content {
            .product-single-l {
                .product-img {
                    &-zoom {
                        height: 380px;
                        overflow: hidden;
                        border: 1px solid #c2c2c2;
                    }
                }
            }
            .product-single-r {
                margin-top: 2rem;
                .product-details {
                    .title {
                        border-bottom: 1px solid $clr-gray;
                    }

                    .info {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        margin: 16px 0;

                        .rating {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-bottom: 10px;
                            .box-rating {
                                display: flex;
                            }
                        }
                        .vert-line {
                            height: 35px;

                            &:nth-child(2) {
                                display: none !important;
                            }
                        }

                        .brand {
                            display: flex;
                            flex-direction: column;
                            width: 45%;
                            align-items: center;
                        }
                    }

                    .price {
                        background-color: rgba(0, 0, 0, 0.02);
                        padding: 2rem;
                        .old-price {
                            text-decoration: line-through;
                        }

                        .box-new-price {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: flex-start;
                            .box-price {
                                display: flex;
                                align-items: center;
                                .discount {
                                    height: 28px;
                                    padding: 4px 8px;
                                    border-radius: 3px;
                                    margin-left: 8px;
                                    margin-top: 2px;
                                }
                            }
                            .box-stock {
                                font-size: 15px;
                                padding-left: 4px;
                                margin-right: auto;
                                span {
                                    font-weight: 700;
                                }
                            }
                        }
                    }

                    .box-version {
                        .list-version {
                            display: flex;
                            flex-wrap: wrap;
                            width: 100%;
                            justify-content: space-around;

                            .item-version {
                                align-items: center;
                                background: #fff;
                                border: 1px solid #d1d5db;
                                border-radius: 8px;
                                color: #444;
                                cursor: pointer;
                                display: flex;
                                flex-direction: column;
                                font-size: 16px;
                                gap: 3px;
                                justify-content: center;
                                margin: 10px 0 !important;
                                overflow: hidden;
                                padding: 5px 4px;
                                position: relative;
                                -webkit-text-decoration: none;
                                text-decoration: none;
                                width: calc(33.33333% - 6.66667px);
                                min-width: 140px;
                            }
                        }
                    }

                    .box-product-color {
                        margin-top: 5px;
                        .title {
                            font-size: 18px;
                        }
                        .box-content {
                            margin-top: 12px;
                            .list-color {
                                display: flex;
                                flex-wrap: wrap;
                                width: 100%;
                                padding: 0;
                                justify-content: space-around;

                                .item-color {
                                    align-items: center;
                                    background: #fff;
                                    border: 1px solid #d1d5db;
                                    border-radius: 8px;
                                    color: #444;
                                    cursor: pointer;
                                    display: flex;
                                    flex-direction: column;
                                    font-size: 16px;
                                    gap: 10px;
                                    justify-content: center;
                                    margin: 10px 0 !important;
                                    overflow: hidden;
                                    position: relative;
                                    -webkit-text-decoration: none;
                                    text-decoration: none;
                                    width: calc(33.33333% - 6.66667px);
                                    min-width: 140px;
                                }
                            }
                        }
                    }

                    .qty {
                        font-size: 20px;
                        margin: 5px 0;
                    }

                    .btns {
                        margin: 30px 0;
                        display: flex;
                        justify-content: space-around;

                        .btn {
                            display: flex;
                            align-items: center;
                            height: 55px;
                            font-size: 16px;
                            border: 1px solid $clr-orange;
                            padding: 0 10px;
                            transition: $transition-ease;
                            max-width: 145px;

                            .icon {
                                font-size: 20px;
                                margin: 0;
                            }

                            &:first-child {
                                background-color: #ffeee8;
                                color: $clr-orange;
                                margin-right: 20px;
                            }
                            &:last-child {
                                background-color: $clr-orange;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    // nhỏ hơn = 576
    .product-single {
        .container {
            padding: 10px 10px !important;
        }
        .product-single-content {
            .product-single-l {
                .product-img {
                    &-zoom {
                        height: 380px;
                        overflow: hidden;
                        border: 1px solid #c2c2c2;
                    }
                }
            }
            .product-single-r {
                margin-top: 2rem;
                .product-details {
                    .title {
                        border-bottom: 1px solid $clr-gray;
                    }

                    .info {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        margin: 16px 0;

                        .rating {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-bottom: 10px;
                            .box-rating {
                                display: flex;
                            }
                        }
                        .vert-line {
                            height: 35px;

                            &:nth-child(2) {
                                display: none !important;
                            }
                        }

                        .brand {
                            display: flex;
                            flex-direction: column;
                            width: 45%;
                            align-items: center;
                        }
                    }

                    .price {
                        background-color: rgba(0, 0, 0, 0.02);
                        padding: 2rem;
                        .old-price {
                            text-decoration: line-through;
                        }

                        .box-new-price {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: flex-start;
                            .box-price {
                                display: flex;
                                align-items: center;
                                .discount {
                                    height: 28px;
                                    padding: 4px 8px;
                                    border-radius: 3px;
                                    margin-left: 8px;
                                    margin-top: 2px;
                                }
                            }
                            .box-stock {
                                font-size: 15px;
                                padding-left: 4px;
                                margin-right: auto;
                                span {
                                    font-weight: 700;
                                }
                            }
                        }
                    }

                    .box-version {
                        .list-version {
                            display: flex;
                            flex-wrap: wrap;
                            width: 100%;
                            justify-content: space-around;

                            .item-version {
                                align-items: center;
                                background: #fff;
                                border: 1px solid #d1d5db;
                                border-radius: 8px;
                                color: #444;
                                cursor: pointer;
                                display: flex;
                                flex-direction: column;
                                font-size: 16px;
                                gap: 3px;
                                justify-content: center;
                                margin: 10px 0 !important;
                                overflow: hidden;
                                padding: 5px 4px;
                                position: relative;
                                -webkit-text-decoration: none;
                                text-decoration: none;
                                width: calc(33.33333% - 6.66667px);
                                min-width: 140px;
                            }
                        }
                    }

                    .box-product-color {
                        margin-top: 5px;
                        .title {
                            font-size: 18px;
                        }
                        .box-content {
                            margin-top: 12px;
                            .list-color {
                                display: flex;
                                flex-wrap: wrap;
                                width: 100%;
                                padding: 0;
                                justify-content: space-around;

                                .item-color {
                                    align-items: center;
                                    background: #fff;
                                    border: 1px solid #d1d5db;
                                    border-radius: 8px;
                                    color: #444;
                                    cursor: pointer;
                                    display: flex;
                                    flex-direction: column;
                                    font-size: 16px;
                                    gap: 10px;
                                    justify-content: center;
                                    margin: 10px 0 !important;
                                    overflow: hidden;
                                    position: relative;
                                    -webkit-text-decoration: none;
                                    text-decoration: none;
                                    width: calc(33.33333% - 6.66667px);
                                    min-width: 140px;
                                }
                            }
                        }
                    }

                    .qty {
                        font-size: 20px;
                        margin: 5px 0;
                    }

                    .btns {
                        margin: 30px 0;
                        display: flex;
                        justify-content: space-around;

                        .btn {
                            display: flex;
                            align-items: center;
                            height: 55px;
                            font-size: 16px;
                            border: 1px solid $clr-orange;
                            padding: 0 10px;
                            transition: $transition-ease;
                            max-width: 145px;

                            .icon {
                                font-size: 20px;
                                margin: 0;
                            }

                            &:first-child {
                                background-color: #ffeee8;
                                color: $clr-orange;
                                margin-right: 20px;
                            }
                            &:last-child {
                                background-color: $clr-orange;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
