@use 'sass:color';
@use '../../App.scss' as *;

.navbar-container {
    .navbar-cnt {
        display: flex;
        align-items: center;

        .brand-and-toggler {
            display: flex;
            align-items: center;

            .sidebar-show-btn {
                color: white;
                margin-right: 12px;
                font-size: 35px;
                margin-top: 4px;
                transition: $transition-ease;
                &:hover {
                    opacity: 0.7;
                }
            }
        }

        .navbar-collapse-body {
            width: 100%;
            .navbar-search {
                background-color: white;
                padding: 4px;
                margin-left: 32px;
                overflow: hidden;
                border-radius: 20px;

                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

                .form-control {
                    width: 100%;
                    border: none;
                    font-size: 20px;
                    padding: 8px 16px;
                    color: rgba(0, 0, 0, 0.8);
                    caret-color: $clr-orange;
                    &::placeholder {
                        font-size: 20px;
                        font-family: $font-family-manrope;
                        letter-spacing: 0.5px;
                    }
                }
                .search-btn {
                    background-color: $clr-orange-light;
                    width: 85px;
                    height: 40px;
                    margin-right: 18px;
                    border-radius: 5px;
                }

                @media screen and (max-width: 576px) {
                    display: none;
                }
            }
            .navbar-nav {
                margin-left: 32px;
                margin-top: 8px;
                .nav-item {
                    margin-right: 16px;
                    .nav-link {
                        transition: $transition-ease;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }

                @media screen and (max-width: 992px) {
                    display: none;
                }
            }
        }
    }

    .navbar-cart {
        margin-left: 32px;
        height: 30px;
        border-radius: 50%;
        font-size: 2rem;

        .navbar-search-icon {
            margin-right: 10px;
            @media screen and (max-width: 576px) {
                display: block;
            }

            @media screen and (min-width: 577px) {
                display: none;
            }
        }

        .cart-btn {
            position: relative;
            font-size: 35px;
            a {
                padding: 5px 10px;
            }
            .cart-items-value {
                position: absolute;
                top: 5px;
                right: 2px;
                background-color: $clr-white;
                font-size: 14px;
                font-weight: 500;
                color: $clr-orange;
                padding: 0 0.5rem;
                width: 22px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &::before {
                content: '';
                position: absolute;
                top: 25px;
                left: 5px;
                background: transparent;
                width: 26px;
                height: 20px;
            }

            &:hover {
                a {
                    color: white;
                }
                .cart-modal {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    @media screen and (max-width: 992px) {
        // từ 768 -> 992
    }

    @media screen and (max-width: 768px) {
        // từ 576 -> 768
    }

    @media screen and (max-width: 576px) {
        // nhỏ hơn 576
        .product-footer {
            width: 92%;
        }
    }
}
