@use 'sass:color';
@use '../../App.scss' as *;

.account-pages-register {
    height: 610px;
    margin-bottom: 20px;

    @media screen and (max-width: 576px) {
        margin: 20px 0 0 0;
        height: 700px;
    }

    @media screen and (max-width: 992px) {
        height: 750px;
    }

    @media screen and (max-width: 768px) {
        // từ 576 -> 768
        height: 750px;
    }

    .title-box {
        .title {
            color: $clr-orange-light;
            font-size: 35px;
            font-weight: 600;
        }

        @media screen and (max-width: 576px) {
            margin: 0 !important;
        }
    }

    .box-btn {
        .btn-register {
            background-color: $clr-orange-light;
            color: white;
            font-size: 20px;
        }

        @media screen and (max-width: 576px) {
            margin: 10px auto !important;
        }
    }

    .input-group {
        border: 1px solid gray;
        display: flex;
        align-items: center;
        padding: 0 10px;

        .input-group-text {
            @media screen and (max-width: 576px) {
                font-size: 18px !important;
            }
        }

        input {
            border: none;
            margin: 0 10px 0 0 !important;

            &:focus {
                box-shadow: none;
            }

            @media screen and (max-width: 576px) {
                font-size: 18px !important;
            }
        }

        .btn-eye {
            cursor: pointer;
            color: rgb(52, 52, 52);
        }
    }
}
