.list-brand {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 576px) {
        // nhỏ hơn 576
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

    .list-brand_item {
        align-items: center;
        border: 1px solid #d1d1d1;
        border-radius: 4px;
        display: flex;
        height: 48px;
        width: 137px;
        justify-content: center;
        margin: 0 18px 10px 0;
        padding: 2px 4px;
        background-color: white;

        img {
            object-fit: contain;
        }

        @media screen and (max-width: 576px) {
            // nhỏ hơn 576
            margin: 15px 0 0 0 !important;
        }

        &:hover {
            transition: 0.2s all ease-in-out;
            transform: scale(1.05);
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}
