@import '../../App.scss';

.forgot-password-container {
    height: 60vh;

    .title {
        color: $clr-orange-light;
        font-size: 35px;
        font-weight: 600;
    }

    .card {
        height: 100%;
    }

    .btn-get-passwrod {
        background-color: $clr-orange-light;
        color: white;
        font-size: 20px;
        margin-top: 40px;
    }

    .input-group {
        @media screen and (max-width: 576px) {
            span {
                font-size: 18px;
            }
            input {
                font-size: 18px;
            }
        }
    }
}
