@use '../../App.scss' as *;

.slider-wrapper {
    margin: 32px 0;
}
.main-content {
    min-height: 100vh;

    .box-filter {
        display: flex;
        // flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        .filter-character {
            display: flex;
            flex-direction: column;
            .filter-title {
                font-size: 18px;
                font-weight: 600;
                margin: 15px 0 10px 0;
            }

            .filter-content {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                padding-left: 10px;
                margin-bottom: 20px;

                button {
                    font-size: 16px;
                    padding: 5px 10px;
                    border: 1px solid $clr-gray;
                    align-items: center;
                    display: flex;
                    border-radius: 10px;
                    gap: 5px;

                    &.active {
                        border: 1px solid $clr-red;
                        color: $clr-red;
                    }
                }
            }
        }

        .filter-price {
            margin-bottom: 20px;
            select {
                border: 1px solid gray;
                padding: 5px 10px;
                border-radius: 10px;
            }
        }
    }

    .categories {
        .categories-item {
            margin-bottom: 4.8rem !important;

            .title-md {
                margin-bottom: 2.8rem;
            }

            .product-no {
                align-content: center;
                text-align: center;
                height: 40vh;
                font-size: 25px;
                font-weight: 600;
            }
        }
    }

    .product-footer {
        margin: auto;
        // @media screen and (max-width: 1545px) {
        //     width: 90vw;
        // }

        margin-bottom: 50px;
        .pagination {
            justify-content: center;
            .page-item {
                &.active {
                    .page-link {
                        color: white;
                    }
                }
                .page-link {
                    color: black;
                    padding: 10px 20px;
                }
            }
        }
    }
}
